
/* body */

body{
    height: 100vh;
    background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}

/* Photo slider */

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 1000px;
}

